{% extends "page/header.html" %}
{% block content %}


    <h5>Total Number of Notes: {{ page_obj.paginator.count }} </h5>
    <div class="row">
    {% for note in Notes %}
   
        <div class="col s12 m6">
          <div class="card grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{ note.title }}</span>
              <p>{{ note.content }}</p>
              <small >{{ note.date_posted|date:"F d, Y" }}</small>
            </div>
            <div class="card-action">
              <a href="{% url 'page:page-update' note.id %}">Update</a>
              <a href="{% url 'page:page-delete' note.id %}">Delete</a>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
    <div>
    {% if is_paginated %}
    <ul class="pagination">
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="active"> <a  href="?page={{ num }}">{{ num }}  </a></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="waves-effect"><a href="?page={{ num }}">{{ num }}  </a></li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %} 
